%li
  %time
    .soon Soon
    .votes #{workshop.votes_to_go} votes to go
  .about
    %h3= link_to workshop.name, workshop
    %dfn
      - if logged_in? && current_user.voted_on(workshop)
        %mark.icon.voted
        You voted for this class
      - else
        = link_to 'Vote', workshop_votes_url(workshop.id), method: :post
        for this class
