%section.textual.tiles
  %h1 Tracks
  %ul
    - @tracks.each do |track|
      %li.icon{ class: under_camel(track.name.downcase) }
        = link_to track do
          %h3= track.name
          %dfn= pluralize track.workshops.active.count, 'Workshop', 'Workshops'
