article
    +box_sizing(border-box)
    margin: 0 auto
    max-width: 1200px
    position: relative
    &:after
        +clear_fix()

    a
        color: #43a594
        text-decoration: underline
        &:hover,
        &:focus
            color: #3dc6ae

    section
        position: relative
        text-align: left

    h1 + nav
        margin: -45px 0 0
        position: absolute
        right: 0
        .btn
            font-size: 1em
            height: 40px
            line-height: 40px
            padding: 0 15px
            &.icon
                padding-right: 35px
            &.icon.prev
                padding-right: 15px
                padding-left: 35px
            &.icon:before,
            &.icon:after
                height: 40px
                line-height: 40px
                width: 40px

article .textual
    h1,
    h2,
    h3
        font-weight: $light
    h1
        color: #fff
        font-size: 3em
    h2
        color: $colorAccent2
        font-size: 2.2em
    h3
        color: $colorAccent2
        font-size: 1.8em

    p
        line-height: 1.4em

    ul, ol
        li
            margin-left: 3em
    ul > li
        list-style: square
    ol > li
        list-style: decimal

    dl
        &:after
            +clear_fix()
        dt, dd
            +box_sizing(border-box)
            float: left
            margin: 1px 0
            padding: 1em
        dt
            background: #424448
            +border_radius(3px, 0, 0, 3px)
            clear: both
            font-weight: $heavy
            text-align: right
            width: 30%
        dd
            background: #292B2F
            +border_radius(0, 3px, 3px, 0)
            width: 70%

    h1, h2, h3, p, ul, ol, dl, blockquote, form, table, .field
        ~h1, ~h2, ~h3, ~p, ~ul, ~ol, ~blockquote, ~form, ~table
            margin-top: 1.5em
        ~dl
            margin-top: 3em

article .progress
    background: #47494F
    +border_radius(1em)
    height: 1.4em
    line-height: 1.4em
    margin: 1em 0
    .bar
        background: $colorAccentDarker
        +border_radius(1em)
        +box_sizing(border-box)
        color: #fff
        min-width: 1.5em
        padding: 0 .5em
        text-align: right

article
    ul.menu > li,
    ol.menu > li
        margin-left: 0
        list-style: none
        ~ li
            margin-top: 2px
        a
            background: #292B2F
            +border_radius(3px)
            color: $colorAccentDarker
            display: block
            padding: 1em
            position: relative
            text-decoration: none
            &:hover,
            &:focus
                background: #24262A
                color: $colorAccent
        &.event a
            min-height: 3.25em
            padding-right: 5em
            strong
                color: $colorText
            .year
                display: none
            .day,
            .month
                color: #fff
                line-height: 1.5em
                position: absolute
                text-align: center
            .day
                background: #36383D
                +border_radius(0, 0, 3px, 3px)
                font-size: 2em
                font-weight: $light
                right: .2em
                top: .95em
                width: 2em
            .month
                background: #47494F
                +border_radius(3px, 3px, 0, 0)
                font-weight: $heavy
                right: .4em
                top: .4em
                width: 4em
            time
                color: $colorAccentDarker
            &:hover
                strong
                    color: #fff
                .day
                    background: $colorAccent
                    color: #fff
                .month
                    background: $colorAccentDarker
                    color: #fff
                time
                    color: $colorAccent

section.discussion
    .meta
        font-size: .9em
        .author,
        .datetime
            background: #292B2F
            +border_radius(1em)
            color: #90939b
            display: inline-block
            padding: .25em .5em
            vertical-align: middle
        .datetime
            .day,
            .month,
            .year
                display: inline
                &:after
                    font-family: $primary
            .day:after
                content: ','
            .year:after
                color: #90939b
                content: ' @'
                font-weight: $heavy
        cite
            color: $colorAccentDarker
            &:after
                content: '\f06c'
                padding-left: .5em
    blockquote
        font-size: 1.2em

article .pagination
    background: #17181A
    +border_radius(3px)
    padding: 0 1em
    span
        display: inline-block
        padding: 1em .5em
    span a
        background: #2E3035
        +border_radius(1em)
        color: #90939b
        display: block
        margin: -.2em -.5em
        padding: .2em .5em
        text-decoration: none
        &:focus,
        &:hover
            background: $colorAccent
            color: #fff

section.track
    margin-bottom: 2em

body.sessions,
body.usersNew,
body.usersCreate,
body.passwordResets
    section
        text-align: center

@media screen and (min-width: 1024px)
    body.withSidebar
        article
            padding-right: 380px
        #flash
            margin-right: -380px

@media screen and (min-width: 900px)
    body.withSidebar
        article section
            float: left
            width: 100%

@media screen and (max-width: 899px)
    body.studentProfilesShow,
    body.instructorProfilesShow
        article h1 + nav
            right: 110px

@media screen and (min-width: 540px)
    body.studentProfilesShow h1,
    body.instructorProfilesShow h1
        padding-right: 125px

@media screen and (max-width: 539px)
    body.studentProfilesShow h1,
    body.instructorProfilesShow h1
        padding-right: 100px

@media screen and (max-width: 1023px) and (min-width: 900px)
    body.withSidebar
        article
            padding-right: 310px
        #flash
            margin-right: -310px
