footer
    font-size: .8em
    color: #5a5c64
    margin-top: 5em
    nav,
    .legal
        margin: .25em 0
    a
        +border_radius(1em)
        color: #90939b
        display: inline-block
        line-height: 1.4em
        padding: 0 .5em
        vertical-align: middle
        &:hover,
        &:focus
            background: $colorAccent2
            color: #000

    .social
        padding: 10px 0
    .social a
        background: #3B3D42
        +border_radius(25px)
        color: #000
        display: inline-block
        height: 25px
        line-height: 25px
        padding: 0
        position: relative
        text-indent: -999em
        width: 25px
        ~ a
            margin-left: 5px
        &:before
            left: 0
            line-height: 25px
            position: absolute
            top: 0
            width: 25px
        &.twitter:before
            content: '\f099'
        &.facebook:before
            content: '\f09a'
        &:hover
            background: $colorAccent2
