%p Hello #{@user.name},
%p
  %strong A request was made from the Starfactory website to reset your password.
%p
  If you made this request, follow the link link to choose a new password.
  Otherwise, you can disregard this message.
%p
  %strong= link_to @url, @url

= render 'user_mailer/signature'
