%li{ class: comment.css_classes }
  = link_to_unless comment.author_user.admin?, raw(comment.author_avatar_html), comment.author
  %cite= comment.author_name
  %time= comment.created_at_formatted
  %blockquote= format_markdown comment.body
