%section.textual.tiles
  %h1 Instructors
  %ul
    - @instructor_profiles.each do |instructor_profile|
      %li
        %h3
          = link_to instructor_profile do
            = instructor_profile.name
            = render 'shared/avatar', email: instructor_profile.email, size: 100
