%li{ class: registered_for_event?(event) ? 'registered' : nil }
  %time
    .monthday= event.starts_at.strftime '%b %e'
    .weektime= event.starts_at.strftime '%A, %l%P'
  .about
    %h3= link_to event.workshop_name, event
    - if event.instructor_profiles.any?
      %dfn
        - if event.spots_left > 0
          Only #{pluralize (event.spots_left), 'spot', 'spots'} left.
          %em Register now
        - else
          Sold Out!
