%section.textual
  %h1 Code of Conduct*

  %h3 The Quick Version
  %p
    Our organizers and instructors are dedicated to providing a harassment-free education for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of students or instructors in any form. Sexual language and imagery is not appropriate for any educational venue, including talks, workshops, parties, Twitter and other online media. Students violating these rules may be sanctioned or expelled from Starfactory and it's workshops without a refund at the discretion of the instructor and/or Starfactory organizer.

  %h3 The Less Quick Version
  %p
    Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
  %p
    Students asked to stop any harassing behavior are expected to comply immediately.
  %p
    Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Sponsor staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.
  %p
    If a student engages in harassing behavior, the workshop instructors and/or organisers may take any action they deem appropriate, including warning the offender or expulsion from the workshop with no refund.
  %p
    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a Starfactory instructor or organizer immediately.
  %p
    Starfactory organizers will be happy to help students contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the workshop. We value your attendance.
  %p
    We expect students to follow these rules at workshop venues and Starfactory-related social events.

  %hr
  %p
    %em
      *Adapted from the
      = link_to 'Conference Code of Conduct', 'https://github.com/confcodeofconduct/confcodeofconduct.com', target: '_blank'