%section.textual
  %h1 Contact Starfactory
  %h3 Doug Waltman
  %p
    %strong Starfactory Founder
    %br
    (509) 987-7944
    %br
    = link_to 'doug@dougwaltman.com', 'mailto:doug@dougwaltman.com'
