%section.textual
  %h1 FAQ

  %h3 How much does it cost?
  %p
    The cost per class will vary, but you can expect to see affordable pricing.
    For example, a three or four hour workshop will be around $150.

  %h3 Where are workshops held?
  %p
    Geographically speaking, in Richland, Washington (Tri-Cities area).
    Classes will be scheduled where space is available.
    Locations will always have wifi, so you can expect to see workshops
    scheduled in office buildings and hopefully the new Fuse coworking space.

  %h3 Can I attend remotely?
  %p
    We do not currently offer remote attendence. Part of the Starfactory
    charm are the small, in-person classroom setting. Spoiler: we have plans
    of eventually offering a video series of our courses.
