%section.textual
  %h1 Terms of Service
  %p
    Starfactory provides its services through this website (this "site") to you subject to the following conditions. If you visit or do business at Starfactory.com, you accept these conditions. Please read them carefully. In addition, when you use any current or future Starfactory service or visit or purchase from any business affiliated with Starfactory, whether or not included in the Starfactory website, you also will be subject to the guidelines and conditions applicable to such service or business. If these conditions are inconsistent with such guidelines and conditions, such guidelines and conditions will control.

  %h3 Privacy
  %p
    Please review our #{link_to 'Privacy Policy', privacy_url}, which also governs your visit to Starfactory.com, to understand our practices.

  %h3 Code of Conduct
  %p
    Please review our #{link_to 'Code of Conduct', conduct_url}, which also governs your visit to the Starfactory Site, Starfactory workshops, and other social interactions with Starfactory.

  %h3 Electronic Communications
  %p
    When you visit Starfactory or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this Site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.

  %h3 Copyright
  %p
    All content included on this Site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Starfactory or its content suppliers and protected by United States and international copyright laws. The compilation of all content on this Site is the exclusive property of Starfactory and protected by U.S. and international copyright laws. All software used on this Site is the property of Starfactory or its software suppliers and protected by United States and international copyright laws.

  %h3 Service Marks
  %p
    Starfactory, and other Starfactory graphics, logos, page headers, button icons, scripts, and service names are service marks, registered service marks or trade dress of Starfactory or its affiliates in the U.S. and/or other countries. Starfactory's service marks and trade dress may not be used in connection with any product or service that does not belong to Starfactory, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Starfactory. All other trademarks or service marks not owned by Starfactory or its affiliates that appear on this Site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Starfactory or its affiliates.

  %h3 License &amp; Acess
  %p
    Starfactory grants you a limited license to access and make personal use of this Site and not to download (other than page caching) or modify the Site, or any portion of the Site, except with express written consent of Starfactory. This license does not include any resale or commercial use of this Site or its contents; any collection and use of any vendor, service or product listings, descriptions, or prices; any derivative use of this Site or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this Site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Starfactory. You may not frame or utilize framing techniques to enclose any service mark, trademark, logo, or other proprietary information (including images, text, page layout, or form) of Starfactory and our affiliates without express written consent. You may not use any meta tags or any other "hidden text" utilizing Starfactory's name or service marks without the express written consent of Starfactory. Any unauthorized use terminates the permission or license granted by Starfactory. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of Starfactory so long as the link does not portray Starfactory, its affiliates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any Starfactory logo or other proprietary graphic or trademark as part of the link without express written permission.
  %p
    By using this Site, you agree to grant to Starfactory an irrevocable, perpetual, worldwide, royalty-free right to duplicate, improve, distribute, publish, remove, retain, add, process, analyze, use and commercialize any information you provide (other than private account information), including but not limited to any user generated content, ideas, concepts, techniques or data, without any further consent, notice, and/or compensation to you or to any third parties.

  %h3 Compliance with laws and regulations
  %p
    You are solely responsible for ensuring that your use of this Site does not violate any applicable, law, regulation, rule or other item with which you must comply.

  %h3 Third Parties; Information; User Generated Content
  %p
    Starfactory receives content from its users. We are not responsible for examining or evaluating, and we do not warrant the offerings of, any of the businesses or individuals who choose to post content on the Starfactory website. Starfactory does not assume any responsibility or liability for the actions, product, and content of all these and any other third parties. You should carefully review their privacy statements and other Terms of Use.
  %p
    If you submit information to the Site, you attest that you are entitled to submit the information, and doing so does not violate any other agreements or the intellectual property rights of others. All information you provide must be accurate, current, and truthful to the best of your knowledge. If you provide any information that is untrue, inaccurate, not current, or incomplete, or we suspect that such information is untrue, inaccurate, not current, or incomplete, we reserve the right to discontinue your use of the Site immediately and without notice.
  %p
    You agree to register details about yourself that are true and that you will never impersonate any person or entity. You acknowledge and agree that all information posted publicly or privately transmitted through the Site is the sole responsibility of the individual from which content originated. You expressly understand and agree that Starfactory shall not be liable to you for any direct or indirect use of the Site or Services, including without limitation any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, alteration of, or use of records, whether for breach of contract, negligence, or under any other cause or action. Furthermore, Starfactory cannot guarantee the identity of any other user or the authenticity of any data which users may supply.
  %p
    Starfactory does not guarantee the accuracy, integrity, quality or appropriateness of any content transmitted to or through the Site. You acknowledge that we simply act as a passive conduit and an interactive Web-based computer platform for the publication and distribution of content for comparison and for the publication and distribution of any information posted by users in response to content ("User Provider Content"). You understand and agree that all information and User Provider Content posted on, transmitted through or linked through the Site is the sole responsibility of the person from whom such content originated. You understand that we do not control, and are not responsible for Information or User Provider Content made available through the Site, and that by using the Site and the Services, you may be exposed to information that is inaccurate, misleading, or offensive. You agree that you must evaluate and make your own judgment, and bear all risks associated with, the use of any Information and User Provider Content. You further acknowledge that Starfactory has no obligation to screen, preview, monitor, or approve any information or User Provider Content on the Site, or content posted or submitted by any Member or other user, although we may exercise the right to do so.
  %p
    You agree that Starfactory is not responsible for the accessibility or unavailability of any Member or for your interactions and dealings with them, and you waive the right to bring or assert any claim against Starfactory relating to any interactions or dealings with any Member or other user, and release Starfactory from any and all liability for or relating to any interactions or dealings with members.

  %h3 Service Communication
  %p
    Member communication is an important part of the Site and the Services. You agree that other users of the Site may contact you using the Site. However, if a user requests that you cease communication with such user, you agree to comply or face immediate termination by Starfactory. However, you should be aware that others will see the information you share. Confidential ideas, trade secrets, or future products should not be shared since public consumption of shared information may allow other users to view said content and incorporate it into their own business or for their own use. We will not adjudicate any disputes between users in those circumstances.

  %h3 Disclaimer of Warranties &amp; Limitation of Liability
  %p
    THIS SITE IS PROVIDED BY STARFACTORY ON AN "AS IS" AND "AS AVAILABLE" BASIS. Starfactory MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, Starfactory DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Starfactory DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM Starfactory ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Starfactory WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.

  %h3 Applicable Law
  %p
    By visiting Starfactory, you agree that the laws of the state of Washington, without regard to principles of conflict of laws, will govern these Terms of Use and License and any dispute of any sort that might arise between you and Starfactory.

  %h3 Disputes
  %p
    Any dispute relating in any way to your visit to Starfactory shall be submitted to confidential arbitration in Richland, Washington, except that, to the extent you have in any manner violated or threatened to violate Starfactory's intellectual property rights, Starfactory may seek injunctive or other appropriate relief in any state or federal court in the state of Washington, and you consent to exclusive jurisdiction and venue in such courts. Arbitration under this agreement shall be conducted under the rules then prevailing of the American Arbitration Association. The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.
